<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base page</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="http://fonts.cdnfonts.com/css/sofachrome" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/basepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/functions.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">

    <!-- <style>
        li{
            color: white;
        }
        .helptext{
            color:white;
            text-align: justify;
        }
       
        span{
            display: inline-block;
            text-align:left;
        }   
        textarea{
            background-color: #232E48;
            outline: 0;
            color: white;
            height: 200px;
            width : 300px;
            border: 1px solid #36415A;
            border-radius: 4px;
            box-sizing: border-box;
        }     
        input[type=text] {
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            }

    </style> -->

    <style>
        .iconify { width: 24px; height: 24px; }
    </style>


</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle ">
            <i class='bx bx-menu' id="header-toggle"></i>
            <span><img height="18px" width="140px" src="{% static 'img/satwayfont.png' %}" alt=""></span>

        </div>
        <div>
            <a href="#">
                <i class='bx bx-message nav__icon'></i></a><span style="padding-left:15px;"></span>
            <a href="{% url 'subuser:editprofile' %}">
                <i class='bx bx-user nav__icon'></i></a>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <div class="satlogo">
                        <img src="{% static 'img/satwaylogo.png' %}" alt="">
                    </div>
                </a>

                <div class="nav__list">

                    <a href="{% url 'subuser:Dashboard' %}" class="nav__link ">
                        <span class="iconify" data-icon="bx-bx-grid-alt" data-inline="false"></span>
                        <span class="nav__name">Dashboard</span>
                    </a>


                    <a href="{% url 'subuser:Vehicles' %}" class="nav__link">
                        <span class="iconify" data-icon="fluent:vehicle-cab-24-regular" data-inline="false"></span>
                        <span class="nav__name">Vehicles</span>
                    </a>
                    </div>
            </div>

            <a href="{% url 'accounts:logoutPage' %}" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>
    <!--//     content area    //-->

    {% block maincontent %}
    {% endblock %}


    <!--===== MAIN JS =====-->
    <script src="{% static 'js/basepage.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1FSELrrhepQtln6tdAAYmYZBlSiMbE8U&callback=initMap&libraries=&v=weekly" async></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>