{% extends 'user/base.html' %}
{% block maincontent %}
<div class="container-fluid">
    <div class="dashboard_main" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="jumbotron dash_map" id="map">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="over_map">
    <form>
        <input type="number" id="quantity" style="width: 90px; text-align: center;" name="quantity" min="1" max="5" value="2">
        <input type="button" class="submit-button" style="width: 130px;" id="btn" value="Start Routing"
            onclick="Addvh()">
            <!-- <label for = "quantity" style="width: auto; padding-left: 20px;">Speed</label>
        <input type="number" id="moving_speed" style="width: 90px; text-align: center;" name="quantity" min="1" max="5">  -->
    </form>
</div>


<script>
    var markers = [];
    let map;
    window.onload = function () {
        initMap();
    };
    var latitude = JSON.parse("{{latitude}}")
    var longitude = JSON.parse("{{longitude}}")
    var speed = JSON.parse("{{speed}}")
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: latitude['0'], lng: longitude['0'] },
            zoom: 17,
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#242f3e"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#746855"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#242f3e"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#263c3f"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#6b9a76"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#38414e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#212a37"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9ca5b3"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#746855"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#1f2835"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#f3d19c"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#2f3948"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#d59563"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#17263c"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#515c6d"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#17263c"
                        }
                    ]
                }
            ]
        });
    }
    function AddCar(lat, long, oldlat, oldlong) {
        var icon_car = { // car icon
            path: 'M29.395,0H17.636c-3.117,0-5.643,3.467-5.643,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759   c3.116,0,5.644-2.527,5.644-5.644V6.584C35.037,3.467,32.511,0,29.395,0z M34.05,14.188v11.665l-2.729,0.351v-4.806L34.05,14.188z    M32.618,10.773c-1.016,3.9-2.219,8.51-2.219,8.51H16.631l-2.222-8.51C14.41,10.773,23.293,7.755,32.618,10.773z M15.741,21.713   v4.492l-2.73-0.349V14.502L15.741,21.713z M13.011,37.938V27.579l2.73,0.343v8.196L13.011,37.938z M14.568,40.882l2.218-3.336   h13.771l2.219,3.336H14.568z M31.321,35.805v-7.872l2.729-0.355v10.048L31.321,35.805',
            scale: 0.9,
            fillColor: "#427af4",
            fillOpacity: 1,
            strokeWeight: 1,
            anchor: new google.maps.Point(0, 5),
            rotation: 0 //<-- Car angle
        };

        var newcoord = { lat: parseFloat(lat), lng: parseFloat(long) };
        var oldcoord = { lat: parseFloat(oldlat), lng: parseFloat(oldlong) }
        var lineCoordinates = [
            oldcoord,
            newcoord,
        ];
        var linePath = new google.maps.Polyline({
            path: lineCoordinates,
            geodesic: true,
            strokeColor: '#FF0000'
        });
        linePath.setMap(map);
        map.setCenter({
            lat: parseFloat(lat),
            lng: parseFloat(long)
        });
        var coord = { lat: parseFloat(lat), lng: parseFloat(long) };
        
        var marker = new google.maps.Marker({
            position: coord,
            icon: 'http://ruralshores.com/assets/marker-icon.png',
                optimized:false,
            map: map,
            
        });
        markers[1] = marker; // add marker in the markers array...

    }
    var i = 0;                  //  set your counter to 1
    function Addvh() {
        sp = document.getElementById("quantity")
        spd = sp.value * 100      //  create a loop function
        setTimeout(function () {   //  call a 3s setTimeout when the loop is called
            if (!(latitude[i - 1])) {
                AddCar(latitude[i], longitude[i], latitude[i], longitude[i])
            }
            else {
                markers[1].setMap(null);
                AddCar(latitude[i], longitude[i], latitude[i - 1], longitude[i - 1]);
            }
            i++;            //  increment the counter1
            if (i < latitude.length) {           //  if the counter < 10, call the loop function
                Addvh();             //  ..  again which will trigger another 
            }                       //  ..  setTimeout()
        }, spd)
    }




</script>
{% endblock %}